@import "tailwindcss";

@theme {
  --color-primary: #6d28d9;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-muted: #94a3b8;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradientRotate {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(45deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

@utility bg-animated-gradient {
  background: linear-gradient(135deg,
      #2993be,
      #198e67,
      #127d6b,
      #14a196,
      #1a6bbd,
      #2993be);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite, gradientRotate 8s ease infinite;
}